{% extends 'base.html.twig' %}

{% block body %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Create server</h2>
                    <ol>
                        <li><a href="{{ path('page_index') }}">Home</a></li>
                        <li>Create server</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Dashboard Section ======= -->
        <section id="dashboard" class="inner-page">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-md-4 col-lg-3">
                        <div class="list-group pe-5">
                            <a href="{{ path('account_dashboard') }}" class="list-group-item list-group-item-action">
                                Dashboard
                            </a>
                            <a href="{{ path('account_profile') }}" class="list-group-item list-group-item-action">
                                My profil
                            </a>
                            <a href="{{path('app_logout')}}" class="list-group-item list-group-item-action">
                                Logout
                            </a>
                        </div>
                    </div>

                    <div class="col-md-8 col-lg-9">
                        <h2 class="mb-5">Create your new server</h2>

                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.location) }}
                        {{ form_row(form.distribution) }}
                        <div class="mb-4 slider">
                            <span class="badge badge bg-primary float-end"><span>1</span> Intel CPU</span>
                            {{ form_label(form.cpu) }}
                            {{ form_widget(form.cpu, {'attr': {'class': 'form-range'}}) }}
                        </div>
                        <div class="mb-4 slider">
                            <span class="badge badge bg-primary float-end"><span>1</span> GB RAM</span>
                            {{ form_label(form.ram) }}
                            {{ form_widget(form.ram, {'attr': {'class': 'form-range'}}) }}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </section><!-- End Login Section -->

    </main><!-- End #main -->

{% endblock %}